<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Gos_avtoinspekciya.Properties.Settings.Gos_avto_inspekciyaConnectionString"
            connectionString="Data Source=DESKTOP-DPL61M9\SQLEXPRESS;Initial Catalog=Gos_avto_inspekciya;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>